@import url('range.css');

:root {
  --grey: #999999;
  --greyl: #aaaaaa;
  --greyd: #888888;
  --greyd2: #666666;
  --hi: #dddddd;
  --shad: #444444;
  --nrblack: #111111;
  --cyan: #33ddff;
  --on: #ff9633;
  --icon: #00ff95;
}

@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/vt232.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
    U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'PT';
  src: url('fonts/protracker.woff2');
  descent-override: 60%;
}

h1,
h2,
h3,
h4 {
  color: var(--cyan);
  text-shadow: 2px 2px black;
  padding: 0;
  margin: 0;
}

body,
html {
  background-color: var(--grey);
  cursor: url('cursor.png'), auto;
}

* {
  font-family: 'PT';
  text-shadow: 2px 2px black;
  color: white;
}

a {
  color: var(--cyan);
  text-decoration: none;
}

button {
  border: 2px solid;
  background-color: var(--grey);
  border-color: var(--hi) var(--shad) var(--shad) var(--hi);
  cursor: url('cursor.png'), auto;
  margin: 0;
  padding: 0 6px;
}

button::content {
  color: var(--cyan);
}

button:hover {
  background-color: var(--greyl);
  border-color: var(--shad) var(--hi) var(--hi) var(--shad);
}

button.active {
  background-color: var(--greyd);
  border-color: var(--shad) var(--hi) var(--hi) var(--shad);
}

button.lit {
  color: var(--on);
  border-color: var(--shad) var(--hi) var(--hi) var(--shad);
  /* text-shadow: none; */
}

button[disabled] {
  color: var(--greyd2);
  text-shadow: none;
}

button[disabled]:hover {
  background-color: var(--grey);
  border-color: var(--hi) var(--shad) var(--shad) var(--hi);
}

input,
select {
  cursor: url('cursor.png'), auto;
  padding: 0 0;
  border: 2px solid;
  background-color: var(--nrblack);
  color: var(--cyan);
  border-color: var(--shad) var(--hi) var(--hi) var(--shad);
}

input[type='text'],
input[type='number'] {
  padding-left: 6px;
}

input[disabled] {
  color: var(--grey);
}

input:focus {
  outline: 2px solid var(--cyan);
  border-radius: 0;
  border: 2px solid var(--cyan);
}

select:focus {
  outline: none;
}

option {
  background-color: var(--nrblack);
  color: var(--cyan);
  padding: 0 6px;
}

nav {
  display: flex;
}

.panel {
  border: 4px solid;
  border-color: var(--hi) var(--shad) var(--shad) var(--hi);
  padding: 4px;
}

#version {
  margin-left: auto;
  color: var(--shad);
  text-shadow: none;
}

#pattView {
  height: 75vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.vh70 {
  height: 70vh !important;
}

#pattCanvas {
  background-color: black;
  padding: 0px;
  width: 100%;
  margin-bottom: 0;
}

#trackHeader {
  display: flex;
  align-items: center;
  padding: 4px 0;
  position: sticky;
  top: 0;
  background-color: var(--grey);
  border-bottom: 2px solid var(--shad);
}

.trackHead {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trackMeter {
  position: absolute;
  top: 50px;
  width: 2.5vw;
}

.meterWrap {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
}

.mb-0 {
  margin-bottom: 5px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.ml-1 {
  margin-left: 10px;
}

.row {
  display: flex;
}

.rowcentered {
  display: flex;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.sunken {
  border: 2px solid;
  border-color: var(--shad) var(--hi) var(--hi) var(--shad);
}

#sampleView {
  width: 99%;
  height: 300px;
  background-color: black;
}

#helpText {
  text-shadow: none;
  color: black;
}

.w0 {
  width: 40px;
}

.w1 {
  width: 50px;
}

.w2 {
  width: 75px;
}

.w3 {
  width: 100px;
}

.w4 {
  width: 200px;
}

.w5 {
  width: 300px;
}

.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 20px;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: var(--grey);
}

.dialog h3 {
  text-align: center;
}

.dialog button {
  margin: 0 auto;
  display: block;
}

.hidden {
  display: none;
}

.fa-solid {
  color: #00ff95 !important;

  /* Force fa-fw on all icons */
  text-align: center;
  width: 1.25em;

  /* fudge */
  padding-right: 3px;
}
